.text {
	border-style: ridge;	/*стиль рамки*/
	border-width: 1px;  	/*устанавливает ширину границы */
	border-width: medium;	/*устанавливает ширину границы */
	border-color: black;	/*цвет рамки*/
	border-radius: 25px;	/*скругление границ рамки*/
	text-align: left; 	/* Выравнивание по центру */
  top: 50%; /* Отступ в процентах от верхнего края окна */
  left: 50%; /* Отступ в процентах от левого края окна */
  width: 450px; /* Ширина блока */
  position: absolute; /* Абсолютное позиционирование блока */
  margin-top: -450px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
  margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
  color: 808080;

}

.IMG { 
	margin-left: 1480px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
	margin-top: 10px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
}	

.Q {
  position: absolute;   /* Абсолютное позиционирование блока */
  margin-left: -225px;  /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
  left: 5%;            /* Отступ в процентах от левого края окна */
}

body {
  background: linear-gradient(66deg, #000000, #FFFFFF); /* Градиент на фоне */
}







.Q {
  animation-duration: 3s;
  animation-name: slidein;
  font-size: 200%;
  
}

.text {
  animation-duration: 3s;
  animation-name: slidein;
  font-size: 200%;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

